# MongoDB (obligatorio en producción)
MONGODB_URI=mongodb://localhost:27017/backend3

# Servidor
PORT=8080
NODE_ENV=development

# JWT (cambiar en producción)
JWT_SECRET=secret-dev
JWT_EXPIRES=24h
JWT_COOKIE_NAME=token
